body { font-family: Helvetica, Tahoma, sans-serif; }
table, th, td {border: 1px solid black; border-collapse: collapse;}
img { display: block;   margin-left: auto;  margin-right: auto; }
table.menubar { width: 100%; text-align: center; table-layout: fixed; overflow-wrap: break-word; font-size: 11pt; margin-top: 0em; padding: none; }
table.menubar tr td { background-color: #eee; border: 1px solid darkgrey; hyphens: auto; vertical-align: middle;}
table.menubar tr td a { color: black; text-decoration: none;}
table.menubar tr td a:hover { text-decoration: underline;}
span.tooltiptext a { color: white; }
@media all and (max-width: 760px) {
  table.menubar { display: block; }
  table.menubar tr { display: block; }
  table.menubar td { display: inline-block; width: 100%; padding: 10px; }
}
@media (prefers-color-scheme: dark) {
body, th {background-color: #222; color: white;  }
a, a:visited { color: lightblue; }
table.comparison tr td a, table.comparison tr td a:visited { color: #333399 }
.dropped, .ext, .yes, .no, .notreally, .mixed, .almost, .kdeapp, .gnomeapp, .mktshare1, .mktshare5, .mktshare20, .mktshare30, .mktshare40, .mktshare100, .otherclients, .mau0, .mau1, .mau2, .mau3, .mau4, .mau5, .mau6{ color: black; }
table tr.product td { border-color: #333; }
}
